@charset "utf-8";


body {
  margin: 0;
  /* max-width: 1800px; */
}

/* 全体を100%に設定し、２カラムに設定 
当初gapで隙間を作っていたが、↓の記法によって
gap 8pxを考慮した幅の指定がわからなかった。 */
.left-right {
  width: 100%;
  display: flex;
  /* gap: 8px; */
  position: relative;
}

/* レフトの幅を25%に設定し、ポジションで固定に */
.left {
  background: black;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ↓確認すること */
/* ライトの幅を75%に設定し、 
ポジションでスタート位置をleftから25%の位置に設定した。*/

.right {
  width: 75%;
  /* background: green; */
  position: absolute;
  top: 0;
  left: 25%;

}


/* ここからレフト */


/* 左の上段ナビゲーション一番外の箱 */
.left-nav {
  margin-left: 8px;
  margin-right: 8px;
  background: rgb(22, 22, 22);
  border-radius: 8px;

}

/* ナビゲーションの外の箱 */
.nav-container {
  display: flex;
  margin: 8px;
  background: rgb(22, 22, 22);
  /* margin-left: 16px; */
}

/* アイコン調整 */
.icon {
  width: 10%;
  padding-top: 8px;
  padding-bottom: 4px;
  color: lightgray;
  text-align: center;
}

/* ナビゲーションのテキストを調整 */
.nav-text {
  width: 90%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: lightgray;
  font-size: 16px;
  margin-left: 4px;
}

.my-libraly {
  display: flex;
  margin: 8px;
  /* background: rgb(33, 33, 33); */
  
}


/* プラスアイコンを調整 */
.plus-icon {
  width: 10%;
  color: lightgray;
  padding-top: 8px;
}

/* 左の下段のボックス */
.my-libraly-container {
  margin-left: 8px;
  margin-right: 8px;
  background: rgb(22, 22, 22);
  border-radius: 8px;
  padding-bottom: 32px;
}

/* 初めてのプレイリストとフォロー */
.playlist {
  background: rgb(33, 33, 33);
  color: white;
  margin: 8px;
  margin-top: 0;
  margin-bottom: 24px;
  border-radius: 16px;
  padding-bottom: 16px;
}

/* プレイリストとフォローの上下のマージンを０に */
.playlist p {
  margin-bottom: 0;
  margin-top: 0;
}

/* プレイリストとフォローのタイトルを調整 */
.playlist-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 16px;

}

/* プレリストとフォローの説明分を調整 */
.playlist-text {
  padding: 16px;
  margin: 0;
}

/* プレイリストとフォローのリンクを調整 */
.playlist-link {
  padding: 4px;
  background: white;
  color: black;
  width: 40%;
  text-align: center;
  border-radius: 16px;
  margin-left: 16px;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

/* ポッドキャストの幅のみ調整 */
.pod {
  width: 50%;
}

/* プライバシー（リスト）部分 */
.privacy {
  color: lightgray;
  margin-top: 160px;
  padding-bottom: 24px;
  font-size: 8px;
}

/* プライバシー（リスト）部分点を削除 */
ul {
  list-style: none;
  padding-left: 0;
}

/* プライバシー横並びに */
.list-item {
  display: flex;
  margin-bottom: 16px;
  padding-left: 8px;
}

/* プライバシー配置調整 */
 li {
  padding-left: 16px;
}

/* 左側一番下、日本語部分 */
.language {
 width: 20%;
 display: flex;
 background: rgb(22, 22, 22);
 color: white;
 border: 1px solid white;
}

/* header {
  margin-left: auto;
} */

/* ここからライト */

/* ヘッダーを横並びに設定 */
.header-box {
  display: flex;
  /* width: 75%; */
  margin-left: auto;
  background: rgb(22, 22, 22);
  color: lightgray;
}

/* くを横並びに設定 */
.header-left {
  display: flex;
 
}

/* くの幅と高さを設定 */
.ku {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  /* width: 16px; */
  /* height: 16px; */

}

/* サインアップとログインを横並びに設定 
右側に配置設定*/
.header-right {
  display: flex;
  margin-left: auto;
}

/* サインアップとログインの隙間を設定 */
.signup {
  margin-right: 40px;
}

/* サインアップの高さをセンターに設定 */
.signup p {
  padding: 12px 0;
} 

/* ログインの枠線と枠幅を設定 */
.login p {
  border: 1px solid white;
  background: white;
  border-radius: 40px;
  padding: 12px 32px;
  color: rgb(22, 22, 22);
}

/* ここからメインのトップ */
/* メインの背景 */
main {
  background: rgb(33, 33, 33);
}

/* メインのトップ部分 */
/* 横並びにして左の隙間を調整 */
.main-top {
  display: flex;
  padding-left: 24px;
}

/* フォーカスとすべて表示を調整
何でクラス名を同じにしたのかがわからない */
.main-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* フォーカスの上下のマージンを0にして
高さを調整する為にパディングトップで調整 */
.main-title p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px; 
}

/* すべて表示にレフトオートで右側に配置 */
.all {
  margin-left: auto;
}

/* すべて表示の配置を調整 */
.all p {
  font-size: 14px;
  color: lightslategray;
  margin-right: 24px;
  padding-top: 8px;
}

/* ここからカードエリア */

/* カードエリアの背景
flexで横並びにして、
padding left-rightで両端にスペースを入れた。 */
.cardarea-main {
  display: flex;
  gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

/* カードエリアの一番後ろの箱の
幅を指定 */
.cardarea-container {
  width: 240px;
  background: rgb(22, 22, 22);
  border-radius: 8px;
  margin: 16px 0;
}

/* カードエリアの画像の幅を
paddingで調整
本来はboxにwidthで幅を調整したかった。 */
.cardarea-image-box   {
/* height: 320px; */
padding: 16px;

}

/* width100%で
画像をboxいっぱいに表示させる */
.cardarea-image-box img {
width: 100%;
border-radius: 8px;
}

.cardarea-title {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.cardarea-text {
  font-size: 12px;
  color: lightgray;
  font-weight: bold;
}


