@charset "utf-8";

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* position: relative; */
}

#left,#right  {
  width: 50%;
  background: lightgrey;
  margin: 24px 0 24px 16px;
  padding: 16px;
}


.right-button-area {
  position: fixed;
  top: 40px;
  left: 75%;
}



p {
  margin: 8px 0 0;
}

input {
  width: 160px;
}

textarea {
  width: 240px;
  height: 80px;
}

.button-area {
  margin-top: 24px;
}

button {
  /* width: 48px;
  height: 24px; */
  font-size: 16px;
}

button:nth-child(n+2){
  margin-left: 16px;
}

/* input > div {
  display: none;
} */

.right-save {
  display: none;
}

.right-save2 {
  animation:  1s fadeIn;
}




/* ↑どうやったらゆっくり切り替わるのか */
/* 戻す時もゆっくりする方法を後日調べる */

.name {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}